
body{
font-family:Arial;
background:#0b0b0b;
color:white;
margin:0;
padding:0;
}

header{
text-align:center;
padding:30px;
background:#111;
border-bottom:1px solid #333;
}

.subtitle{
color:#aaa;
}

.stats{
display:flex;
justify-content:center;
gap:40px;
padding:20px;
}

.stat{
background:#151515;
padding:20px;
border-radius:8px;
text-align:center;
min-width:120px;
}

.stat h2{
margin:0;
font-size:28px;
}

.controls{
display:flex;
gap:10px;
padding:20px;
justify-content:center;
flex-wrap:wrap;
}

input,select{
padding:10px;
background:#111;
color:white;
border:1px solid #333;
}

table{
width:95%;
margin:auto;
border-collapse:collapse;
margin-bottom:40px;
}

th,td{
padding:8px;
border:1px solid #333;
}

th{
background:#1b1b1b;
}

tr:nth-child(even){
background:#141414;
}

tr:hover{
background:#1f1f1f;
}

a{
color:#7ec8ff;
text-decoration:none;
}

footer{
text-align:center;
padding:20px;
color:#777;
}
